*{
    scroll-behavior: smooth;
}
body{
    background-image: url("https://drive.google.com/uc?export=view&id=1To71WzBkEcLqXKH_pXEhi4T8wfMNZ2M0");
    background-repeat: repeat;
    background-color: #cccccc;
}
/* Style for header section */
header {
    display:flex ;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: transparent;
    box-shadow: none;
  }
  /* Style for logo */
  .logo {
    width: 75px;
    height: 75px;
    background: url("https://drive.google.com/uc?export=view&id=1c_dEYgAPpkJ7xkwxaLcSQjIiEc8VC5-X") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
  }
  
  /* Style for name */
  .name {
    font-size: 24px;
    font-weight: bold;
    color: rgb(14, 13, 13);
    margin-left: 1.5cm;
  }
  
  
  /* Style for navigation menu */
  .NavbarMenu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .NavbarMenu li {
    margin-left: 20px;
  }
  
  .NavbarMenu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    border-radius: 5px;
  }
  
  .NavbarMenu a:hover {
    background-color: #f5f5f5;
  }
  /* Style for small screens */
@media screen and (max-width: 768px) {
  .NavbarMenu ul {
    display: none;
  }

  .NavbarMenu li {
    display: block;
    text-align: center;
    margin: 0;
  }

  .NavbarMenu li:last-child {
    margin-bottom: 30px;
  }

  /* Style for hamburger menu */
  .NavbarMenu .icon {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }

  .NavbarMenu .icon:before,
  .NavbarMenu .icon:after {
    content: '';
    display: block;
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
  }

  .NavbarMenu .icon:after {
    margin-bottom: 0;
  }

  /* Style for menu opened */
  .NavbarMenu.open ul {
    display: block;
  }
}

  /*Homepage */
 /* Style the homepage section */
.homePageSection {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 90vh;
    background: url("https://drive.google.com/uc?id=15v9MaVoTylrdSKekLsB2hUJ1KZiNUQVO") no-repeat right center / 50% auto;
    margin-bottom: 0 px;
  }
  
  /* Style the content */
  .content {
    width: 50%;
    padding: 0 50px;
    margin-bottom: 270px;
  }
  
  .content h1 {
    font-size: 60px;
    margin-bottom: 10px;
    display:block;
    color:black;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    opacity: 0.78;
  }
  
  .content h2 {
    font-size: 34px;
    margin-top: 0;
    color: black;
    display: block;
    opacity: 0.78;
  }
  
  /* Media queries for different devices */

  @media (max-width: 767px) {
    /* Small devices (mobile phones) */
    .homePageSection {
      padding: 5px;
      margin-top: 50px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: 0; /* set z-index to 0 to send background to the back */
      opacity:0.8;/* set opacity of homepage section to 0.5 */
    }
    .content {
      width: 100%;
      padding: 0;
      margin-bottom: 10px; 
      text-align: left; /* center text */
      position: relative; /* set position to relative */
      z-index: 1; /* set z-index to 1 to bring content to the front */
      color: black;
      opacity: 1; /* set opacity of content to 1 */
    }
    
  }
  
  
  @media (min-width: 992px) and (max-width: 1199px) {
    /* Large devices (small laptops) */
    .homePageSection {
      padding: 40px;
    }
  }
  
  @media (min-width: 1200px) {
    /* Extra large devices (large laptops and desktops) */
    .homePageSection {
      padding: 50px;
    }
  }
  
  /*My-Project*/
  .projectPageSection {
    background: transparent;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:90px;
    margin-top:2cm;
  
    
  }
  
  
  .projectPageSection h1 {
    background-color: black;
    background-image: linear-gradient(to right, black 0%, grey 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-bottom: 5rem;
    font-size: 2.5rem;
    text-align: center;
  }
  
  .bodycardsection {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr;
  
  }
  
  .cards {
    margin: 10px;
    height: 425px;
    width: 300px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-color: #85FFBD;
    background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
    transition: 0.3s ease-in;
    cursor: pointer;
  }
  .cards:nth-child(1){
    background-image:linear-gradient(
      225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%
    );
    cursor: pointer;
  }
  .cards:nth-child(2) {
    background: #1fa2ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #a6ffcb,
      #12d8fa,
      #1fa2ff
    ); 
    background: linear-gradient(
      to right,
      #a6ffcb,
      #12d8fa,
      #1fa2ff
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  .cards:nth-child(4) {
    background-image: linear-gradient(
      109.6deg,  rgba(61,245,167,1) 11.2%, rgba(9,111,224,1) 91.1% 
    );
  }
  .cards:nth-child(3){
    background-image: linear-gradient(9deg, #FAACA8 0%, #DDD6F3 100%)
  }
  
  .cards h2 {
    text-align: center;
  }
  
  .cards p {
    text-align: center;
    margin-top: 24px;
    font-size: 20px;
  }
  
  .cardsbutton {
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }
  
  .cards button {
    color: #fff;
    padding: 14px 24px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #131313;
    font-size: 1rem;
  }
  
  .cards button:hover {
    cursor: pointer;
  }
  
  .cards:hover {
    transform: scale(1.075);
    transition: 0.3s ease-in;
    cursor: pointer;
  }
  @media screen and (max-width: 1200px) {
    .bodycardsection {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media screen and (max-width: 768px) {
    .bodycardsection {
      grid-template-columns: 1fr;
    }
    .projectPageSection{
      margin-top:12cm;
    }
  }
  /*Contact-me*/
.contactMePageSection {
  background-color: transparent; /* set background color */
  padding: 50px 0;
}

.contactMePageSection h1 {
  text-align: center;
  font-size: 2.5rem;
}

.contactMePageSection .border-left {
  border-left: 3px solid #007bff;
}

.contactMePageSection .form-group {
  margin-bottom: 1rem;
}

.contactMePageSection h5 {
  font-size: 1.1rem;
}

.contactMePageSection input,
.contactMePageSection textarea {
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  font-size: 1.1rem;
}

.contactMePageSection button {
  background-color: #007bff;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.contactMePageSection button:hover {
  background-color: #0062cc;
}

@media (max-width: 768px) {
  /* Adjust styles for smaller screens */
  .contactMePageSection .border-left {
    border: none;
    padding-left: 0;
  }

  .contactMePageSection h1 {
    font-size: 2rem;
  }

  .contactMePageSection input,
  .contactMePageSection textarea {
    font-size: 1rem;
  }

  .contactMePageSection button {
    font-size: 1rem;
    padding: 10px 16px;
  }
}
/*footer section*/
footer {
  background-color: transparent;
  padding: 10px 0;
}

footer a {
  color: #333;
  font-size: 24px;
  margin-right: 20px;
}

footer a:hover {
  color: #0077B5;
}
footer .row{
  display: flex;
}
.LinkedInIcon, .MediumIcon .row {
  margin: 0 10px; /* add some space between the icons */
  display: flex;
  justify-content: left;
}
