*{
    scroll-behavior: smooth;
}
body{
background: rgb(57,64,59);
background: linear-gradient(90deg, rgba(57,64,59,1) 52%, rgba(85,94,87,1) 100%);
}
#longnavbarmenu{
  background-color: #333; 
  position: fixed; 
  top: -60px; 
  width: 100%; 
  transition: top 0.3s; 
  opacity: 0.7;
}

#longnavbarmenu a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

#longnavbarmenu a:hover {
  background-color: #ddd;
  color: black;
}
.container {
    display: inline-block;
    cursor: pointer;
    float: right;

    
  }

  h2{
      line-height:0%;
  }
  
  .click1, .click2, .click3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;    
  }
  
  /* Rotate first bar */
  .change .click1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
  }
  
  /* Fade out the second bar */
  .change .click2 {
    opacity: 0;
  }
  
  /* Rotate last bar */
  .change .click3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
  }
  .buttonmenu {
    display: none;
    align-items: center;
    list-style: none;
    opacity: 0;
  }
  .buttonmenu a{
    color: white;
    padding:15px;
    display:block;
    text-decoration: none;
  }
  .buttonitem{
      height: 0px;
      width: 0px;

  }

  .buttonmenu.active {
    background: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 35vh;
    font-size: 20px;
    display: inline-block;
    margin: auto;
    float: right;
    padding: 20px;
  }

  /*HomePage*/
  .hometext{
    color:white;
    margin-left: 70px;
    font-size:32px;
    margin-top:0px;
    position: absolute;
}
.hometext h1{
  background-image: linear-gradient(to right, white 0%, grey 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.hometext h2{
  color:linear-gradient(to right, grey 0%, white 100%);
  opacity: 0.78;
}
  .p1{
      margin-left: 30px;
      margin-top: 197px;
      margin-bottom:0px;
      text-align: center;
      display: inline-block;
  }
  .p2{
     padding-bottom: 31px;
     margin-left: 30px;
  }
  .p3{
      margin-left:30px;
      display: block;

  }
  .d10{
    width: 30px;
    background-image:linear-gradient(to right, #2b5876 0%, #4e4376  51%, #2b5876  100%);
    margin-left: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 px #eee;
    border-radius: 10px;
    display: inline-block;
    float:left;   
  }
.d11{
    width: 129px;
    background-image: linear-gradient(to right, #232526 0%, #414345  51%, #232526  100%);
    padding: 15px 45px;
    margin-left: 10px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 0px #eee;
    border-radius: 10px;
    display: block;
    float:left;   
}
.d12{
    width: 12px;
    background-image: linear-gradient(to right, #1CD8D2 0%, #93EDC7  51%, #1CD8D2  100%);
    padding: 15px 45px;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 0px #eee;
    border-radius: 20px;
    display: block;
    float:left;   
    margin-left: 10px;
}
.d13{
    width: 131px;
    background-image: linear-gradient(to right, #FFB75E 0%, #ED8F03  51%, #FFB75E  100%);
    padding: 15px 45px;
    margin-left: 10px;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 0px #eee;
    border-radius: 20px;
    display: block;
    float:left; 
}
.p4{
    margin-left: -360px;
    margin-top: 199px;
    margin-bottom:0px;
    padding-right:1px;
    display:inline-block;
}
.p5{
    margin-left: 30px;
    margin-top: 13px;
    margin-bottom:0px;
    display:inline-block;
}
.p6{
    margin-left: 30px;
    margin-top: 13px;
    margin-bottom:0px;
    padding-top:12px;
    display:inline-block;
}

/* myProject-body */
.myProject-body {
  background: #131313;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:90px;
  margin-top:120px;

  
}

.myProject-body h1 {
  background-color: whitesmoke;
  background-image: linear-gradient(to right, white 0%, grey 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-bottom: 5rem;
  font-size: 2.5rem;
  text-align: center;
}

.bodycardsection {
  display: grid;
  grid-template-columns:  1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr;

}

.cards {
  margin: 10px;
  height: 425px;
  width: 300px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background-color: #85FFBD;
  background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
  transition: 0.3s ease-in;
  cursor: pointer;
}
.cards:nth-child(1){
  background-image:linear-gradient(
    225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%
  )
  cursor: pointer;
}
.cards:nth-child(2) {
  background: #1fa2ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #a6ffcb,
    #12d8fa,
    #1fa2ff
  ); 
  background: linear-gradient(
    to right,
    #a6ffcb,
    #12d8fa,
    #1fa2ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.cards:nth-child(4) {
  background-image: linear-gradient(
    109.6deg,  rgba(61,245,167,1) 11.2%, rgba(9,111,224,1) 91.1% 
  );
}
.cards:nth-child(3){
  background-image: linear-gradient(9deg, #FAACA8 0%, #DDD6F3 100%)
}

.cards h2 {
  text-align: center;
}

.cards p {
  text-align: center;
  margin-top: 24px;
  font-size: 20px;
}

.cardsbutton {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.cards button {
  color: #fff;
  padding: 14px 24px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #131313;
  font-size: 1rem;
}

.cards button:hover {
  cursor: pointer;
}

.cards:hover {
  transform: scale(1.075);
  transition: 0.3s ease-in;
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
  .bodycardsection {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .bodycardsection {
    grid-template-columns: 1fr;
  }
}
.Myskill-body{
  margin-bottom:1000px;
  background:#00dbde;
}

.aboutme-body{
  margin-bottom:1000px;
  background:wheat;
}
.contactme-body{
  margin-bottom:1000px;
  background:#1CD8D2
}
